.stApp{
    background:#0F172A;
}

h1,h2,h3{
    color:white;
}

section[data-testid="stSidebar"]{
    background:#111827;
}

.stButton>button{
    background:#D4AF37;
    color:black;
    border-radius:12px;
    border:none;
    font-weight:bold;
    height:48px;
}

.stButton>button:hover{
    background:#FFD700;
}

div[data-testid="metric-container"]{
    background:#1E293B;
    border-radius:15px;
    padding:15px;
}

.stTextInput input,
.stTextArea textarea{
    border-radius:10px;
}

div.stExpander{
    border-radius:15px;
}